<%- include('../partials/header'); %> 

     <header class="jumbotron">
         <div class="container">
             <h1>Bangkok ♥ Streetheart</h1>
             <p><em>Street art found a way to your heart</em></p>
             <p>
                <a class="btn btn-primary btn-lg" href="/snaps/new">Add New Snap</a>
             </p>
              <p>
              <!-- <form action="/snaps" method="GET" class="form-inline" id="campground-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Type, e.g., Stencil" class="form-control">
                </div>
              </form> -->
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="campground-grid">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= campground.image %>">
                   <div class="caption">
                       <h4><%= campground.name %></h4>
                   </div>
                   <p>
                       <a href="/snaps/<%= campground._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<%- include('../partials/footer'); %>